.end-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    height: 70%;
    max-height: 80%;
    max-width: 90%;
    aspect-ratio: 4/3;
    padding: 0;
    border-radius: 10px;
    background-image: url(/paper.png);
    color: rgba(36, 33, 32, 0.87);

    opacity: 0; /* 最初は透明にする */
    transition: opacity 0.8s ease-out;
}

.end-component.fade-in {
    opacity: 1; /* フェードイン後に完全に表示 */
}


.end-contens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    flex-flow: column;
}

.end-id {
    margin: 3px 0;
    padding: 0;
    font-size: 4vh;
}

.end-title {
    margin: 3px 0;
    padding: 0;
    font-size: 5vh;
}

.end-data {
    margin: 10px 0 20px;
    padding: 0;
    font-size: 3vh;
}

.end-to-home {
    padding: 3vh;
    font-size: 2vh;
}