@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap'); 

/* body {
    height: 100%;
    width: 100%;
    background-image: url("/title.png");
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    color: #ffffff;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
    flex-direction: column;
    margin: 0;
}

.titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

/* タイトルのスタイル */
.title {
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(135, 131, 131, 0.8), 0 0 10px rgba(255, 255, 255, 0.3);
    background: linear-gradient(135deg, #ffffff, #f5e0c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.start-button {
    font-size: 1.5rem;
    padding: 15px 40px;
}

.home-button-component {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.reset-button {
    margin: 20px 0;
    width: 150px;
    padding: 15px 20px;
    font-size: 1rem;
}

.reset-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    width: 70vw;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgba(39, 39, 39, 0.799);
    border-radius: 13px;
}

.reset-font {
    padding: 0;
    margin: 10px;
}

.reset-modal-buttons {
    margin-top: 20px;
}

.return-bun {
    padding: 20px 40px;
    margin: 0 5px;
}

.reset-true-Butotn {
    padding: 20px 40px;
    margin: 0 5px;
}
